<header>
    <div class="container">
        <div class="row">
            <div class="col-6 ml-auto">
                <div class="blog-logo">
                    <a href="{{@site.url}}" title="{{@site.title}}">
                        {{#if @site.logo}} <img src="{{@site.logo}}" alt="{{@site.title}}" /> {{else}}<span>{{@site.title}}</span>{{/if}} 
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 text-right btns">
                <a href="#" class="search" data-toggle="modal" data-target="#search">
                    <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><path d="M1.29775 9.197c0-4.52 3.677-8.197 8.196-8.197 4.52 0 8.198 3.677 8.198 8.197s-3.678 8.197-8.198 8.197c-4.519 0-8.196-3.677-8.196-8.197zm15.033 6.13c1.462-1.629 2.361-3.774 2.361-6.13 0-5.071-4.126-9.197-9.198-9.197-5.071 0-9.196 4.126-9.196 9.197 0 5.071 4.125 9.197 9.196 9.197 2.356 0 4.501-.898 6.13-2.36l8.523 8.522c.097.098.225.146.353.146.128 0 .256-.048.354-.146.195-.195.195-.512 0-.707l-8.523-8.522z" fill="#B9B2A2" fill-rule="evenodd"/></svg>
                </a>
                <a href="#" class="menu" data-toggle="modal" data-target="#menu">
                    <svg width="30" height="22" viewBox="0 0 30 22" xmlns="http://www.w3.org/2000/svg"><path d="M.5 1C.224 1 0 .776 0 .5S.224 0 .5 0h27.874c.276 0 .5.224.5.5s-.224.5-.5.5H.5zm27.874 9c.276 0 .5.224.5.5s-.224.5-.5.5H.5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h27.874zm0 10c.276 0 .5.224.5.5s-.224.5-.5.5H.5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h27.874z" fill="#B9B2A2" fill-rule="evenodd"/></svg>
                </a>
            </div>
        </div>
    </div>           

    <!-- Search Modal -->
    <div class="modal fade-scale" id="search" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 ml-auto">
                                <div class="blog-logo">
                                    <a href="{{@site.url}}" title="{{@site.title}}">
                                        {{#if @site.logo}} <img src="{{@site.logo}}" alt="{{@site.title}}" /> {{else}}<span>{{@site.title}}</span>{{/if}} 
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 text-right btns">
                                <a href="#" data-dismiss="modal" aria-label="Close">
                                    <svg width="23" height="21" viewBox="0 0 23 21" xmlns="http://www.w3.org/2000/svg"><g stroke="#B9B2A2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M21.4473684.55263158L1.17249143 20.8275086M1.5526316.55263158L21.82750857 20.8275086"/></g></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="search">
                                    <input id="search-field" placeholder="{{t "Search"}}" autocomplete="off"/>
                                </form>
                                <div id="results" data-other="{{t "Other"}}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <!-- Bookmark Modal -->
    <div class="modal fade-scale" id="bookmark" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 ml-auto">
                                <div class="blog-logo">
                                    <a href="{{@site.url}}" title="{{@site.title}}">
                                        {{#if @site.logo}} <img src="{{@site.logo}}" alt="{{@site.title}}" /> {{else}}<span>{{@site.title}}</span>{{/if}} 
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 text-right btns">
                                <a href="#" data-dismiss="modal" aria-label="Close">
                                    <svg width="23" height="21" viewBox="0 0 23 21" xmlns="http://www.w3.org/2000/svg"><g stroke="#B9B2A2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M21.4473684.55263158L1.17249143 20.8275086M1.5526316.55263158L21.82750857 20.8275086"/></g></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{t "Bookmarks"}}</h3>
                                <div class="bookmark-container">
                                    <p class="no-bookmarks">{{{t "You haven't yet saved any bookmarks. To bookmark a post, just click <i class='circle'></i>."}}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <!-- Menu Modal -->
    <div class="modal fade-scale" id="menu" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 ml-auto">
                                <div class="blog-logo">
                                    <a href="{{@site.url}}" title="{{@site.title}}">
                                        {{#if @site.logo}} <img src="{{@site.logo}}" alt="{{@site.title}}" /> {{else}}<span>{{@site.title}}</span>{{/if}} 
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 text-right btns">
                                <a href="#" data-dismiss="modal" aria-label="Close">
                                    <svg width="23" height="21" viewBox="0 0 23 21" xmlns="http://www.w3.org/2000/svg"><g stroke="#B9B2A2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M21.4473684.55263158L1.17249143 20.8275086M1.5526316.55263158L21.82750857 20.8275086"/></g></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                {{navigation}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <ul class="social">
                        {{#if @site.facebook}}
                            <li><a href="{{facebook_url}}" class="facebook" title="{{@site.facebook}}" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        {{/if}}
                        {{#if @site.twitter}}
                            <li><a href="{{twitter_url}}" class="twitter" title="{{@site.twitter}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        {{/if}}
                        <li><a href="https://www.youtube.com/" class="youtube" title="Youtube" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/" class="instagram" title="Instagram" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="{{@site.url}}/rss" title="{{t "RSS Feed"}}" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>