{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
<main id="content" role="main">
    <div class="loop">
        <div class="swiper-container">
            {{#post}}
                <div class="next"><a href="#" title="{{t "Next Post"}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.49 31.49" width="512" height="512"><path d="M21.205 5.007c-.429-.444-1.143-.444-1.587 0-.429.429-.429 1.143 0 1.571l8.047 8.047H1.111C.492 14.626 0 15.118 0 15.737c0 .619.492 1.127 1.111 1.127h26.554l-8.047 8.032c-.429.444-.429 1.159 0 1.587.444.444 1.159.444 1.587 0l9.952-9.952c.444-.429.444-1.143 0-1.571l-9.952-9.953z" fill="#FFF"/></svg></a></div>
                <div class="prev"><a href="#" title="{{t "Previous Post"}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.494 31.494" width="512" height="512"><path d="M10.273 5.009c.444-.444 1.143-.444 1.587 0 .429.429.429 1.143 0 1.571l-8.047 8.047h26.554c.619 0 1.127.492 1.127 1.111s-.508 1.127-1.127 1.127H3.813l8.047 8.032c.429.444.429 1.159 0 1.587-.444.444-1.143.444-1.587 0L.321 16.532c-.429-.429-.429-1.143 0-1.571l9.952-9.952z" fill="#FFF"/></svg></a></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-history="{{slug}}">
                        <article class="{{post_class}} container article-container" data-id="{{comment_id}}">
                            <div class="row">
                                <div class="col-md-12 post-cover-container">
                                    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="Do MMMM YYYY"}}</time>
                                    <div class="post-cover post-meta {{#if feature_image}}has-image{{/if}}">
                                        <div class="pagination-number"></div>
                                        <h1 class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">{{title}}</h1>
                                        <div class="author-name text-center">
                                            {{authors}}
                                        </div>
                                        <a href="#" class="read-later" data-id="{{id}}"></a>
                                        {{#if feature_image}}
                                        <style type="text/css">
                                            .responsive-header-img-{{slug}} {
                                                background-image: url({{img_url feature_image size='l'}});
                                            }
                                            @media(max-width: 767px) {
                                                .responsive-header-img-{{slug}} {
                                                    background-image: url({{img_url feature_image size='m'}});
                                                    background-image: -webkit-image-set(
                                                        url({{img_url feature_image size='m'}}) 1x,
                                                        url({{img_url feature_image size='l'}}) 2x
                                                    );
                                                    background-image: image-set(
                                                        url({{img_url feature_image size='m'}}) 1x,
                                                        url({{img_url feature_image size='l'}}) 2x
                                                    );
                                                }
                                            }
                                        </style>
                                        <div class="cloned-content">
                                            <div class="img-holder responsive-header-img-{{slug}}"></div>
                                            <div class="pagination-number"></div>
                                            <span class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">{{title}}</span>
                                            <span class="author-name text-center">
                                                {{authors}}
                                            </span>
                                            <a href="#" class="read-later" data-id="{{id}}"></a>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">
                                    <section class="post-content">
                                        <div class="reading-time d-none">{{reading_time}}</div>
                                        <div class="editor-content">{{content}}</div>
                                        <div class="share-on">
                                            <p>{{t "Share on:"}}</p>
                                            <a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;" title="{{t "Share on Facebook"}}"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                            <a class="share-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;" title="{{t "Share on Twitter"}}"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                            <a href="https://www.reddit.com/submit?url={{url absolute="true"}}%2F&title={{encode title}}" title="{{t "Share on Reddit"}}"><i class="fab fa-reddit-alien" aria-hidden="true"></i></a>
                                            <a href="mailto:?subject={{encode title}}&amp;body={{url absolute="true"}}" title="{{t "Share by Email"}}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                        </div>
                                    </section>
                                    {{#if tags}}
                                        <ul class="tags">
                                        {{#foreach tags}}
                                            <li>
                                                <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                                            </li>  
                                        {{/foreach}}
                                        </ul>
                                    {{/if}}
                                    {{^is "author"}}
                                        {{#if authors}}
                                            {{#foreach authors}}
                                                <section class="author {{#if profile_image}}has-image{{/if}}">
                                                    {{#if profile_image}}
                                                    <figure class="author-image">
                                                        <a class="img" href="{{url}}" title="{{name}}"><img src="{{img_url profile_image size="xs"}}" alt="{{name}}"></a>
                                                    </figure>
                                                    {{/if}}

                                                    <div class="author-content">
                                                        <h3>
                                                            <a href="{{url}}">{{name}}</a>
                                                        </h3>

                                                        {{#if bio}}
                                                            <p>{{bio}}</p>
                                                        {{else}}
                                                            <p>{{{t "Read <a href='{url}'>more posts</a> by this author" url=(url)}}}.</p>
                                                        {{/if}}

                                                        <div class="author-meta">
                                                            <span class="social">
                                                                {{#if twitter}}<a href="{{twitter_url}}" class="twitter" title="{{twitter}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>{{/if}}
                                                                {{#if facebook}}<a href="{{facebook_url}}" class="facebook" title="{{facebook}}" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>{{/if}}
                                                            </span>
                                                            {{#if website}}<span class="author-link"><a href="{{website}}" target="_blank" rel="noopener noreferrer"><i class="fa fa-link" aria-hidden="true"></i> {{website}}</a></span>{{/if}}
                                                            {{#if location}}<span class="author-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{location}}</span>{{/if}}
                                                        </div>
                                                    </div>
                                                </section>
                                            {{/foreach}}
                                        {{/if}}
                                    {{/is}}
                                </div>
                            </div>
                            {{!-- Insert comment box here  --}}
                        </article>
                    </div>
                </div>
            {{/post}}
        </div>
    </div>
</main>
